[submodule "vim_runtime"]
	path = vim_runtime
	url = git://github.com/amix/vimrc.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/local-vimrc"]
	path = vim/bundle/local-vimrc
	url = git://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/nerdtree-tabs"]
	path = vim/bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
